In [1]:
import pandas as pd
import more_itertools as mit

In [2]:
pd.set_option( 'display.max_columns', 500 )

In [3]:
nvos_profs = pd.read_excel( './nvos_profs.xlsx' )

In [4]:
nvos_profs.shape

(370, 7)

In [5]:
nvos_profs.head()

,SALID1,Country,L1Name,urb_l1admin,stt_l1admin,urb_l1ux,stt_l1ux
0,101101,Argentina,Bahia Blanca,proximate stones,semi-hyperbolic grid,proximate stones,labyrinth
1,101103,Argentina,Mar del Plata,proximate inkblots,spiderweb,contiguous large inkblots,straight grid
2,101104,Argentina,San Nicolas de los Arroyos,proximate stones,semi-hyperbolic grid,contiguous pixels,labyrinth
3,101105,Argentina,Tandil,scattered pixels,labyrinth,contiguous pixels,labyrinth
4,101106,Argentina,Catamarca,proximate stones,semi-hyperbolic grid,proximate stones,straight grid

In [6]:
l1Admin_urban_prof = nvos_profs[ 'urb_l1admin' ].value_counts().rename_axis( 'prof' ).reset_index( name = 'count' ).reset_index()
l1Admin_urban_prof[ 'index' ] = l1Admin_urban_prof[ 'index' ] + 1 
l1Admin_urban_prof = l1Admin_urban_prof.to_dict( orient = 'records' )
l1Admin_urban_prof

[{'index': 1, 'prof': 'proximate stones', 'count': 168},
 {'index': 2, 'prof': 'scattered pixels', 'count': 91},
 {'index': 3, 'prof': 'proximate inkblots', 'count': 90},
 {'index': 4, 'prof': 'contiguous large inkblots', 'count': 21}]

In [7]:
l1Admin_trans_prof = nvos_profs[ 'stt_l1admin' ].value_counts().rename_axis( 'prof' ).reset_index( name = 'count' ).reset_index()
l1Admin_trans_prof[ 'index' ] = l1Admin_trans_prof[ 'index' ] + 1 
l1Admin_trans_prof = l1Admin_trans_prof.to_dict( orient = 'records' )
l1Admin_trans_prof

[{'index': 1, 'prof': 'semi-hyperbolic grid', 'count': 130},
 {'index': 2, 'prof': 'labyrinth', 'count': 110},
 {'index': 3, 'prof': 'spiderweb', 'count': 80},
 {'index': 4, 'prof': 'hyperbolic grid', 'count': 50}]

In [8]:
l1UX_urban_prof = nvos_profs[ 'urb_l1ux' ].value_counts().rename_axis( 'prof' ).reset_index( name = 'count' ).reset_index()
l1UX_urban_prof[ 'index' ] = l1UX_urban_prof[ 'index' ] + 1 
l1UX_urban_prof = l1UX_urban_prof.to_dict( orient = 'records' )
l1UX_urban_prof

[{'index': 1, 'prof': 'contiguous pixels', 'count': 173},
 {'index': 2, 'prof': 'proximate stones', 'count': 110},
 {'index': 3, 'prof': 'contiguous large inkblots', 'count': 64},
 {'index': 4, 'prof': 'scattered large inkblots', 'count': 23}]

In [9]:
l1ux_trans_prof = nvos_profs[ 'stt_l1ux' ].value_counts().rename_axis( 'prof' ).reset_index( name = 'count' ).reset_index()
l1ux_trans_prof[ 'index' ] = l1ux_trans_prof[ 'index' ] + 1 
l1ux_trans_prof = l1ux_trans_prof.to_dict( orient = 'records' )
l1ux_trans_prof

[{'index': 1, 'prof': 'semi-hyperbolic grid', 'count': 112},
 {'index': 2, 'prof': 'straight grid', 'count': 98},
 {'index': 3, 'prof': 'spiderweb', 'count': 69},
 {'index': 4, 'prof': 'labyrinth', 'count': 51},
 {'index': 5, 'prof': 'hyperbolic labyrinth', 'count': 40}]

In [10]:
l1Admin_profs = nvos_profs[ [ 'urb_l1admin', 'stt_l1admin' ] ].rename( columns = { 'urb_l1admin': 'URBAN_PROF', 'stt_l1admin': 'TRANS_PROF' } )
l1Admin_profs[ 'URBAN_PROF' ] = l1Admin_profs[ 'URBAN_PROF' ].apply( lambda x: [ i for i in l1Admin_urban_prof if i[ 'prof' ] == x ][ 0 ][ 'index' ] )
l1Admin_profs[ 'TRANS_PROF' ] = l1Admin_profs[ 'TRANS_PROF' ].apply( lambda x: [ i for i in l1Admin_trans_prof if i[ 'prof' ] == x ][ 0 ][ 'index' ] )
l1Admin_profs.head()

   URBAN_PROF  TRANS_PROF
0           1           1
1           3           3
2           1           1
3           2           2
4           1           1

In [11]:
l1UX_profs = nvos_profs[ [ 'urb_l1ux', 'stt_l1ux' ] ].rename( columns = { 'urb_l1ux': 'URBAN_PROF', 'stt_l1ux': 'TRANS_PROF' } )
l1UX_profs[ 'URBAN_PROF' ] = l1UX_profs[ 'URBAN_PROF' ].apply( lambda x: [ i for i in l1UX_urban_prof if i[ 'prof' ] == x ][ 0 ][ 'index' ] )
l1UX_profs[ 'TRANS_PROF' ] = l1UX_profs[ 'TRANS_PROF' ].apply( lambda x: [ i for i in l1ux_trans_prof if i[ 'prof' ] == x ][ 0 ][ 'index' ] )
l1UX_profs.head()

   URBAN_PROF  TRANS_PROF
0           2           4
1           3           2
2           1           4
3           1           4
4           2           2

In [14]:
l1admin = pd.read_csv( './l1Admin_old.csv' )

In [16]:
del l1admin[ 'URBAN_PROF' ]
#del l1admin[ 'URBAN_PROB' ]
del l1admin[ 'TRANS_PROF' ]
#del l1admin[ 'TRANS_PROB' ]

In [17]:
l1admin.shape

(370, 26)

In [18]:
l1admin = pd.concat( [ l1admin, l1Admin_profs ], axis = 1 )

In [19]:
l1admin.shape

(370, 28)

In [20]:
l1admin.head()

,L1,COUNTRY,BECNURBPTCH,BECPTCHDENS,BECEFFMESHSIZE,BECAWAVGPTCHAREA,BECAWMNSHPINDX,BECAWMNNNGH,BECADCRCTYAVG,BECADINTDENS,BECADSTTDENS,BECADSTTLGAVG,BECADSTTPNODEAVG,URBAN_PROB,TRANS_PROB,LAT,LONG,SECPOV,AREA,POP,CNSMINPRM,CNSMINPRF,CNSUNEMPLM,CNSUNEMPLF,BRT,SUBWAY,URBAN_PROF,TRANS_PROF
0,Bahia Blanca,Argentina,487,0.2131,77.6331,2644.8505,5.1337,76.6488,1.032771,3.670737,938.436474,142.777309,3.411745,0.999,0.979105,-38.725272,-62.274060,0.0,6709.0581,304207.0,83.488717,81.667940,4.983076,8.192796,0,0,1,1
1,Mar del Plata,Argentina,765,0.5311,601.5286,8368.3755,6.7311,68.6631,1.021756,10.801749,2583.854577,130.072799,3.505520,1.000,0.967662,-37.979858,-57.589794,0.0,10352.8980,624389.0,80.214732,79.774735,4.674092,8.798723,0,0,3,3
2,San Nicolas de los Arroyos,Argentina,166,0.2456,57.7036,1353.3899,4.0292,79.5763,1.028876,4.375523,1140.411408,142.470201,3.211101,1.000,0.986346,-33.345709,-60.218394,0.0,2881.4446,146973.0,85.215860,81.403756,5.385563,9.153359,0,0,1,1
3,Tandil,Argentina,491,0.1011,8.7144,1556.2258,3.9911,126.0122,1.066892,0.707934,402.611416,327.999118,3.238615,0.999,0.999981,-37.316665,-59.150001,0.0,2719.3544,124628.0,84.458245,83.073683,4.480337,7.920224,0,0,2,2
4,Catamarca,Argentina,250,0.2131,87.3944,2196.9427,4.7825,72.2277,1.048575,5.392896,1115.701114,116.078141,3.191040,1.000,0.992720,-28.466001,-65.781000,0.0,4666.5000,203972.0,81.756466,82.192590,5.057125,10.206447,0,0,1,1

In [21]:
l1admin.to_csv( './l1Admin.csv', sep = ',', index = False )

In [ ]:
l1ux = pd.read_csv( './l1UX.csv' )

In [ ]:
del l1ux[ 'URBAN_PROF' ]
del l1ux[ 'URBAN_PROB' ]
del l1ux[ 'TRANS_PROF' ]
del l1ux[ 'TRANS_PROB' ]

In [ ]:
l1ux.shape

In [ ]:
l1ux = pd.concat( [ l1ux, l1UX_profs ], axis = 1 )

In [ ]:
l1ux.shape

In [ ]:
l1ux.to_csv( './l1UX.csv', sep = ',', index = False )